<div class="sl-app-selector">
  <ui-select list="apps""></ui-select>
  <div class="ui-select" data-ui-type="select">
    <span class="selected" data-id="foo">StrongStudio</span>
    <ul>
      <li ng-repeat="app in apps">
        <a href="/#{{app.id}}" data-id="{{app.id}}" ng-click="doSomeStorngLoop()">{{app.name}}</a>
      </li>
      <!--<li><a href="" data-id="bar">strong</a></li>-->
      <!--<li><a href="">Bar2</a></li>-->
      <!--<li><a href="">Bar2</a></li>-->
      <!--<li>-->
        <!--<button class="ui-button-cmd" type="button">Some action</button>-->
      <!--</li>-->
    </ul>
  </div>
</div>
